<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="app.js" defer></script>
    <title>Homie Hon</title>
</head>
<body class="h-screen w-screen flex">
    <nav class="h-full w-[10%] border-l-2 border-black shadow-xl flex flex-col justify-around items-center">
        <a href="#" class="nav-link">إدخال مصروف</a>
        <a href="#" class="nav-link">السجل</a>
        <a href="#" class="nav-link">الإعدادات</a>
        <a href="#" class="nav-link">الخروج</a>
    </nav>
    <main class="h-full w-[90%] flex flex-col divide-y-2 p-4">
        <section class="flex gap-4 flex-1">
            <button id="1" class="btn">الجهاز الأول</button>
            <button id="2" class="btn">الجهاز الثاني</button>
            <button id="3" class="btn">الجهاز الثالث</button>
            <button id="4" class="btn">الجهاز الرابع</button>
            <button id="5" class="btn">الجهاز الخامس</button>
        </section>
        <section class="flex-[2_2_0]">
            <table class="w-full h-full table-auto text-right" dir="rtl">
                <thead>
                    <tr>
                        <th scope="col" class="p-4 border">التاريخ</th>
                        <th scope="col" class="p-4 border">الجهاز</th>
                        <th scope="col" class="p-4 border">السعر</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col" class="p-4 border">21/7/2022</td>
                        <td scope="col" class="p-4 border">3</td>
                        <td scope="col" class="p-4 border">8500</td>
                    </tr>
                    <tr>
                        <td scope="col" class="p-4 border">21/7/2022</td>
                        <td scope="col" class="p-4 border">3</td>
                        <td scope="col" class="p-4 border">8500</td>
                    </tr>
                    <tr>
                        <td scope="col" class="p-4 border">21/7/2022</td>
                        <td scope="col" class="p-4 border">3</td>
                        <td scope="col" class="p-4 border">8500</td>
                    </tr>
                    <tr>
                        <td scope="col" class="p-4 border">21/7/2022</td>
                        <td scope="col" class="p-4 border">3</td>
                        <td scope="col" class="p-4 border">8500</td>
                    </tr>
                    <tr>
                        <td scope="col" class="p-4 border">21/7/2022</td>
                        <td scope="col" class="p-4 border">3</td>
                        <td scope="col" class="p-4 border">8500</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>